
.left-area {
    height: 650px;
    position: relative;
    display: inline-block ;
}

.small-circle {
    background: transparent url('/assets/images/blob-small.svg') 0% 0% no-repeat padding-box;
    width: 100%;
    height: 100%;
    position: relative;
    left: -179px;
    background-position: left 60px;
    display: inline-block;
}

.circle-content {
    padding-left: calc(100vw - 82%);
}

.topRight {
    position: absolute;
    top: 150px;
    right: calc(100% - 500px);
}

.topRight span {
    font-size: 40px;
    color: #222222;
    font-family: 'Montserrat-Medium';
    line-height: 49px;
    /* font-weight: bold; */
    text-align: left;
}

.topRight .border {
    background-image: radial-gradient(circle, black 3px, transparent 3px), linear-gradient(to right, black, black), radial-gradient(circle, black 3px, transparent 3px);
    background-repeat: no-repeat;
    background-size: 6px 6px, calc(100% - 8px) 6px, 6px 6px;
    background-position: left bottom, center bottom, right bottom;
    display: block;
    outline: none;
    border: none;
    width: 200px;
    height: 10px;
    border-radius: 13px;
    opacity: 0.7;
}

.bottomRight {
    position: absolute;
    top: 320px;
    margin-left: 62px;
    z-index: 99;
}

.imgBottomRight {
    position: absolute;
    bottom: -42px;
    right: -100px;
    opacity: 0.5;
}

.right-area {
    height: 1200px;
    float: right;
   position: relative;
}
.circle {
    background: transparent url('/assets/images/circle.svg') 0% 0% no-repeat padding-box;
    background-size: auto 100%;
  
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: calc(100% + 150px) center;
    left: 0;
    top: -360px;
    float:right;

}

@media only screen and (max-width: 991px) {
    .imgBottomRight{left: 0;}
    .dashboard-view{margin-bottom: 50%;}
}