<div class="dashboard-view">
    <div class="left-area col-md-6">
        <div class="topRight"><span>We Make it Super <br /> Simple </span><span class="border"></span></div>
        <div class="bottomRight"> <img src="/assets/images/collect_img-video.png" class="img-fluid" />
            <div class="imgBottomRight"> <img src="/assets/images/accounting_dots.svg" class="img-fluid" /></div>
        </div>

        <div class="small-circle"></div>
    </div>
    <div class="col-md-6 right-area">
        <app-form></app-form>
    </div>
</div>