<div class="detail-screen">
    <div class="row">
        <div class="col-md-3">
            <div class="card card-block p-3 w-100">
                <img src="/assets/images/Get Paid Instantly.png" width="100" class="img-fluid mb-3" />
                <span>Quick cash disbursement</span>
                <p>Get terms loans that your business needs within 72 hrs</p>
            </div>
            <div class="card card-block p-3 mt-5 w-100">
                <img src="/assets/images/Low interest rate.png" width="100" class="img-fluid mb-3" />
                <span>Low-interest rate</span>
                <p>Achieve your financial goals with an amazing interest rate starting at 13% per annum</p>
            </div>
            <div class="card card-block p-3 mt-5 w-100">
                <img src="/assets/images/Secure Payments.png" width="100" class="img-fluid mb-3" />
                <span>Zero Paperwork</span>
                <p>Get started instantly by submitting only your basic details & bank statements</p>
            </div>

        </div>
        <div class="col-md-3" style="margin-top: 2%;">
            <div class="card card-block img-fluid mt-5 w-100">
                <img class="card-img-top" src="/assets/images/Rectangle.png">
                <div class="card-img-overlay card-inverse p-3">
                    <img src="/assets/images/freelancer_feature_icon.png" width="100" class="img-fluid mb-3" />
                    <span class="card-text">Ace your business finances</span>
                    <p class="card-text">Manage banking, accounting & everything in between, on one platform</p>
                </div>
            </div>
            <div class="card card-block p-3 mt-5 w-100">
                <img src="/assets/images/Covid.png" width="100" class="img-fluid mb-3" />
                <span>Loans to fight COVID-19</span>
                <p>Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh</p>
            </div>
        </div>
        <div class="col-sm-1 sep">
            <span class="sepText">
            </span>

        </div>
        <div class="col-sm-5 flexbox">
            <div class="content">
                <h2>Boost your business <br /> with Open</h2>
                <span class="border"></span>
                <p class="mt-5">Get your hands on a term loan that’s<br /> crafted for your business</p>
                <button class="btn  btn-login mt-5">Get an Open Account</button>
            </div>
        </div>
    </div>
</div>